config wifi-device 'radio0'
  option type 'mac80211'
  option hwmode '11a'
  option distance '1000'
  option path '<%= @node.fetch('wifi_path') %>'
  option htmode '<%= @node.fetch('wifi_htmode') %>'
  option channel '<%= @node.fetch('wifi_channel') %>'
  option country '<%= @node.fetch('wifi_country') %>'
  option txpower '<%= @node.fetch('wifi_txpower') %>'

config wifi-iface 'default_radio0'
  option device 'radio0'
  option encryption 'none'
  option mode 'adhoc'
  option network 'wif0'
  option bssid '<%= @node.fetch('wifi_bssid') %>'
  option ssid '<%= @node.fetch('wifi_ssid') %>'
