<p>Other users online: <span id="online_users"></span></p>
<h1>generate a temba node</h1>
<%# be inspired by this form: https://github.com/jirutka/ldap-passwd-webui %>
<%= form_for @node, url: create_node_url do |f| %>

  <%# src https://stackoverflow.com/a/3873520 %>
  <% if @node.errors.any? %>
    Errors:
    <ul>
    <% @node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>

  <% end %>

  <%# options_for_select -> src https://stackoverflow.com/questions/19120706/rails-erb-form-helper-options-for-select-selected %>
  <%# this form is not prepared for border templates -> src https://stackoverflow.com/a/7085390 %>
  <%# retain select values after error:
    https://stackoverflow.com/questions/26872093/rails-4-retaining-form-values-on-refresh
    https://stackoverflow.com/questions/5052889/ruby-on-rails-f-select-options-with-custom-attributes
  %>
  <%= f.select :device, options_for_select(@node.vars['devices'].reject{|k| k=~ /border/}.each_key, f.object.device), :prompt => 'select device' %>
  <%= f.text_field :node_name, placeholder: 'node name' %>
  <%# f.text_field :wifi_channel, placeholder: 'wifi channel' %>
  <%# TODO: yaml variable valid channels or target channels ? %>
  <%# f.select :wifi_channel, options_for_select([120, 132]), :prompt => 'wifi channel' %>
  <%= f.select :wifi_channel, options_for_select([36, 40, 44, 48, 52, 56, 60, 64, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 149, 153, 157, 161, 165], f.object.wifi_channel), :prompt => 'wifi channel' %>

  <%= f.text_field :bmx6_tun4, placeholder: 'IPv4' %>
  <%= f.submit 'Build' %>
  <br>
  <div class="loader"></div>
  <%# https://stackoverflow.com/questions/42535407/render-html-into-rails-flash-message %>
  <%# https://stackoverflow.com/questions/24334755/form-undefined-method-html-safe-for-nilnilclass %>
  <p id="notice"><%= notice %></p>

<% end %>

<p class="footer">
  <%= @node.vars['temba_version'] %> |
  <a href="https://gitlab.com/guifi-exo/temba/issues" target="_blank"><b>Issues</b></a> |
  <a href="https://gitlab.com/guifi-exo/temba" target="_blank">Source Code</a> |
  Contribute to <a href="https://gitlab.com/guifi-exo/temba/tree/master/files" target="_blank">templates</a>!
</p>
